{% extends "./Layout/base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        {% include "./Layout/AdminMenu.html" %}
        <div class="col-6">
            <div class="card shadow">
                <div class="card-header bg-dark text-white">
                    <h2>New Episode</h2>
                </div>
                <div class="card-body">
                    {% if form.errors %}
                        {% for field, errors in form.errors.items() %}
                            <div class="alert alert-danger">{{ ', '.join(errors) }}</div>
                        {% endfor %}
                    {% endif %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form action="{{ url_for('admin.AddNewEpisode') }}" method="post">
                        {{ form.csrf_token }}
                        <div class="form-group mb-3">
                            {{ form.title(class="form-control", placeholder="Enter Title") }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form.content(class="form-control", placeholder="Enter Content") }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form.number(class="form-control", placeholder="Enter Number Video") }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form.videoUrl(class="form-control", placeholder="Enter URL Video") }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form.time(class="form-control", placeholder="Enter Time Video Like 00:00:00") }}
                        </div>
                        <div class="form-group mb-3">
                            <select name="type" class="form-control">
                                <option value="Free">Free</option>
                                <option value="Cash">Cash</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <select name="course" class="form-control">
                                {% for course in courses %}
                                    <option value="{{ course.id }}">{{ course.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <button class="btn btn-success w-100">Add new episode</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}