{% extends "./Layout/base.html" %}
{% block content %}
  <div class="container mt-5">
     <div class="row">
         {% include "./Layout/menu.html" %}
        <div class="col-8">
          <div class="card">
            <div class="card-header">User List</div>
            <div class="card-body justify-content-center">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Operation</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                    <tr>
                      <td>{{ loop.index }}</td>
                      <td>{{ user.name }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.date_created }}</td>
                      <td>
                        <!-- اگه عملیاتی مثل حذف نیاز داره، اینجا اضافه کنید -->
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
     </div>
  </div>
{% endblock %}