{% extends "./Layout/base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        {% include "./Layout/menu.html" %}
        <div class="col-8">
            <div class="card">
                <div class="card-header">Content</div>
                <div class="card-body justify-content-center">
                    <h2 class="text-center">Edit Profile Form</h2>
                    <hr>
                    <form action="{{ url_for('user.EditProfile') }}" method="POST" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="form-group mb-3">
                            {{ form.name(placeholder='name', class='form-control') }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form.email(placeholder='enter email', class='form-control') }}
                        </div>
                        <div class="form-group mb-3">
                            <button class="btn btn-danger w-100">Edit Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}